* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #181818;
  color: #fff;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 80%;
  max-width: 1200px;
  margin: 20rem auto;
}

.stat-primary span {
  font-size: 4rem;
}

.wrapper > *:not(:last-child) {
  margin-bottom: 2rem;
}

.stat-primary {
  background-color: #7000ff;
  padding:3rem 2rem;
  border-radius: 6px;
  margin-bottom: 2rem;
}

.stat-secondary {
  padding: 3rem 2rem;
  border: 1px solid #2e2e2e;
  border-radius: 6px;
}

.stat-secondary__page > *,
.stat-secondary__visitor > * {
  display: inline-block;
}

.stat-secondary__page {
  margin-bottom: 2rem;
}

span {
  font-size: 3rem;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 1rem;
}

p {
  font: 1.8rem;
  text-transform: uppercase;
}

.stat-secondary img {
  margin-right: 2rem;
}

button {
  background-color: #7000ff;
  border: none;
  width: 100%;
  padding-block: 1.5rem;
  border-radius: 6px;
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.note {
  text-transform: none;
  text-align: center;
  color: #878787;
  font-size: 1.4rem;
  line-height: 130%;
}

@media only screen and (min-width: 48em) {
  .wrapper > *:not(:last-child) {
    margin-bottom: 0;
  }

  .wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .stat {
    flex: 1;
    display: flex;
    gap: 2rem;
  }

  .stat-primary {
    flex: .4;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
  }

  .stat-secondary {
    flex: 1.2;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .stat-secondary__page {
    margin-bottom: 0;
  }

  .stat-secondary img {
    margin-right: 1rem;
  }

  .cta {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .note {
    align-self: center;
  }

  button {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 64em) {
  .wrapper {
    flex-wrap: nowrap;
  }
  /* .stat{
    flex: 1.8;
  }

  .cta{
    flex: .2;
  } */

  button {
    align-self: flex-start;
    width: auto;
    padding-inline: 4rem;
  }

  .cta {
    flex-basis: 22%;
    justify-content: space-between;
  }

  .note {
   text-align: left;
  }
  
}
